@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --font: "Mukta", sans-serif;
    --background-color: #313131;
    --text-color: white;
    --border-color: white;
    --button-background: #222;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    --spacing: 15px;
    --button-height: 40px;
    --button-width: 100px;
    --margin: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: var(--spacing);
    background: var(--background-color);
    font-family: var(--font);
    overflow: hidden;
    color: var(--text-color);
}

h1 {
    text-align: center;
    margin-bottom: var(--spacing);
}

canvas {
    box-shadow: var(--shadow);
    cursor: pointer;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tools {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: var(--spacing);
}

.tools .color-field, .tools .button {
    min-height: var(--button-height);
    min-width: var(--button-height);
    height: var(--button-height);
    width: var(--button-height);
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid var(--border-color);
    align-self: center;
    margin: var(--margin);
}

.tools .button {
    width: auto;
    padding: 0 var(--margin);
    background: var(--button-background);
    color: var(--text-color);
    font-weight: bold;
}

.color-picker, .pen-range {
    align-self: center;
    margin: var(--margin);
    height: var(--button-height);
}

@media (min-width: 600px) {
    .tools .color-field, .tools .button, .color-picker, .pen-range {
        margin: var(--spacing);
    }
}

@media (min-width: 900px) {
    .tools .button {
        width: var(--button-width);
    }
    .color-picker, .pen-range {
        height: calc(var(--button-height) + 10px);
    }
}

@media (min-width: 1200px) {
    body {
        padding: calc(var(--spacing) + 15px);
    }
}
